<!DOCTYPE html>
<html lang="en">
<head>
  <title>PERLER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-3">
  <h2>Toggleable Tabs</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu1">Hjerte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu2">Stjerne</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu3">Jul</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu4">Andet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu5">Plade form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu6">Runde perler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu7">Kontakt</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>HOME</h3>
      <font color=green><h1><b><u>Perleplader</u></b></h1></font>
      <img src= https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaZvuQEpPCsiYOOnCBvsMw3G8EzCS6kjYX5Q&usqp=CAU width="200" height="300" >
            <h5>Her er lidt inspiration til forskellige perleplader til de mørke eller regnfulde dage.</h5>
            <h5>De er delt op efter emne.</h5>
            <h5>I plade form er de delt op efter den plade der er brugt.</h5>
            <h5>Farver kan skiftes, og mange af dem der er lavet på lille plade, kan laves på stor, så mønsteret bliver større.</h5>
      <h5>Dem der er lavet på en lille plade kan også bruges som snurretop, hvis man fx. putter en tandstik ned i midten.</h5>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Hjerte</h3>
     
        <h2><b><i><u>Hjerteplader</u></i></b></h2>
        <h6>Lidt inspiration til perleplade lavet på hjerteplade</h6>
       
            <div class="container mb-2">
              <div class="row justify-content-center mt-2">
               <div class="col-md-11 col-sm-11 p-1">
                <div class="row g-5">
                 <!-- <div class="col-sm-1">-->


                {% for hjerte in hjerter %}
               
                             <div class="col-sm-3">
                               <div class="card-header">
                                 <div class='card w-30'>
                                   <div class="row g-3">
                                     <div class="col-md-5">
                                       <div class="card" style="width: 18rem;">
                                         <div class="col-md-4 col-sm-10">

                                         </div> 
                          <div class="card-body">
                              <img class="rounded" src="{{ hjerte.image.url }}" width="100" height="150"/>
                            </div> 
                              
                                <h5><b><u>Navn: </u></b></h5>
                                <h5 class="card-title">{{hjerte.name}}</h5>
                                <h5><b><u>Beskrivelse: </u></b></h5>
                                <p class="card-text">{{hjerte.description}}</p>


                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <!-- </div>-->
                  {% endfor %}
               
              </div>
            </div> 
          </div>
      </div>
      <!--</div> -->
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Stjerne</h3>
      
       <!-- <div class="pt-5">
          <div class="container mb-5">-->
            <h2><b><i><u>Stjerneplader</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på stjerneplade</h6>
            
                      <div class="container mb-2">
                        <div class="row justify-content-center mt-2">
                         <div class="col-md-11 col-sm-11 p-1">
                          <div class="row g-5">

                    {% for stjer in stjerne %}

                                  <div class="col-sm-3">
                                     <div class="card-header">
                                       <div class='card w-30'>
                                         <div class="row g-3">
                                           <div class="col-md-5">
                                             <div class="card" style="width: 18rem;">
                                               <div class="col-md-4 col-sm-10">

                                               </div> 
                                  <div class="card-body">
                                  <img class="rounded" src="{{ stjer.image.url }}" width="100" height="150"/>
                                </div> 
                                  
                                    <h5><b><u>Navn: </u></b></h5>
                                    <h5 class="card-title">{{stjer.name}}</h5>
                                    <h5><b><u>Beskrivelse: </u></b></h5>
                                    <p class="card-text">{{stjer.description}}</p>


                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      {% endfor %}
                 <!--   </div>
                    </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="menu3" class="container tab-pane fade"><br>
      <h3>Jul</h3>
      <div class="container mb-5">
        <h2><b><i><u>Jul</u></i></b></h2>
        <h6>Lidt inspiration til perleplade lavet til jul</h6>
                  <div class="container mb-2">
                    <div class="row justify-content-center mt-2">
                     <div class="col-md-11 col-sm-11 p-1">
                      <div class="row g-5">

                {% for ju in jul %}

                              <div class="col-sm-3">
                                 <div class="card-header">
                                   <div class='card w-30'>
                                     <div class="row g-3">
                                       <div class="col-md-5">
                                         <div class="card" style="width: 18rem;">
                                           <div class="col-md-4 col-sm-10">

                                           </div> 
                              <div class="card-body">
                              <img class="rounded" src="{{ ju.image.url }}" width="100" height="150"/>
                            </div> 
                              
                                <font color=red><h5><b><u>Navn: </u></b></h5></font>
                                <h5 class="card-title">{{ju.name}}</h5>
                                <font color=red><h5><b><u>Beskrivelse: </u></b></h5></font>
                                <p class="card-text">{{ju.description}}</p>


                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% endfor %}
               <!-- </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="menu4" class="container tab-pane fade"><br>
      <h3>Andet</h3>
      <div class="container mb-5">
        <h2><b><i><u>Mønster</u></i></b></h2>
        <h6>Lidt inspiration til perleplade lavet med mønstre. det kan være på forskellige plader, men uden noget emne</h6>
                  <div class="container mb-2">
                    <div class="row justify-content-center mt-2">
                     <div class="col-md-11 col-sm-11 p-1">
                      <div class="row g-5">

                {% for and in andet %}

                              <div class="col-sm-3">
                                 <div class="card-header">
                                   <div class='card w-30'>
                                     <div class="row g-3">
                                       <div class="col-md-5">
                                         <div class="card" style="width: 18rem;">
                                           <div class="col-md-4 col-sm-10">

                                           </div> 
                              <div class="card-body">
                              <img class="rounded" src="{{ and.image.url }}" width="100" height="150"/>
                            </div> 
                              
                                <h5><b><u>Navn: </u></b></h5>
                                <h5 class="card-title">{{and.name}}</h5>
                                <h5><b><u>Beskrivelse: </u></b></h5>
                                <p class="card-text">{{and.description}}</p>


                              </div>
                          </div>
                        </div>
                      </div><!---->
                    </div>
                  </div>
                
                  {% endfor %}
               <!-- </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="menu5" class="container tab-pane fade"><br>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        body {
            position: relative; 
        }
        </style>
      </head>
      <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#section1">Start</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Hjerte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">stjerne</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section4">rund</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section5">4-kant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section6">6-kant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section7">Reminder</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
        <h1>Start</h1>
       <h1><font color=red> Plade form</font></h1>
        <h3>I denne sektion er perlepladerne delt op efter hvilken form pladen har de er lavet på</h3>
        <h4><b><u>BEMÆRK:</u></b>Der er ny menu-bar til denne del.</h4>
      </div>

      <div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
        <h1>Hjerte</h1>
        <div class="container mb-5">
          <h2><b><i><u>Hjerteplader</u></i></b></h2>
          <h6>Lidt inspiration til perleplade lavet på hjerteplade</h6>
                    <div class="container mb-2">
                      <div class="row justify-content-center mt-2">
                       <div class="col-md-11 col-sm-11 p-1">
                        <div class="row g-5">

                  {% for hjert in hjerte %}

                                <div class="col-sm-3">
                                   <div class="card-header">
                                     <div class='card w-30'>
                                       <div class="row g-3">
                                         <div class="col-md-5">
                                           <div class="card" style="width: 18rem;">
                                             <div class="col-md-4 col-sm-10">

                                             </div> 
                                <div class="card-body">
                                <img class="rounded" src="{{ hjert.image.url }}" width="100" height="150"/>
                              </div> 
                                
                                  <h5><b><u>Navn: </u></b></h5>
                                  <h5 class="card-title">{{hjert.name}}</h5>
                                  <h5><b><u>Beskrivelse: </u></b></h5>
                                  <p class="card-text">{{hjert.description}}</p>


                                </div>
                            </div>
                          </div>
                        </div><!---->
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--</div>-->
      </div>

      <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
        <h1>Stjerne</h1>
        <div class="container mb-5">
          <h2><b><i><u>Stjerneplader</u></i></b></h2>
          <h6>Lidt inspiration til perleplade lavet på stjerneplade</h6>
                    <div class="container mb-2">
                      <div class="row justify-content-center mt-2">
                       <div class="col-md-11 col-sm-11 p-1">
                        <div class="row g-5">

                  {% for stjer in stjerne %}

                                <div class="col-sm-3">
                                   <div class="card-header">
                                     <div class='card w-30'>
                                       <div class="row g-3">
                                         <div class="col-md-5">
                                           <div class="card" style="width: 18rem;">
                                             <div class="col-md-4 col-sm-10">

                                             </div> 
                                <div class="card-body">
                                <img class="rounded" src="{{ stjer.image.url }}" width="100" height="150"/>
                              </div> 
                                
                                  <h5><b><u>Navn: </u></b></h5>
                                  <h5 class="card-title">{{stjer.name}}</h5>
                                  <h5><b><u>Beskrivelse: </u></b></h5>
                                  <p class="card-text">{{stjer.description}}</p>


                                </div>
                            </div>
                          </div>
                        </div><!---->
                      </div>
                    </div>

                    {% endfor %}
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div id="section4" class="container-fluid bg-info text-white" style="padding:100px 20px;">
          <h1>Rund</h1>
          <div class="container mb-2">
            <h2><b><i><u>runde plader</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på rundplade</h6>
                      <div class="container mb-2">
                        <div class="row justify-content-center mt-2">
                         <div class="col-md-11 col-sm-11 p-1">
                          <div class="row g-5">

                    {% for run in rund %}

                                  <div class="col-sm-3">
                                     <div class="card-header">
                                       <div class='card w-30'>
                                         <div class="row g-3">
                                           <div class="col-md-5">
                                             <div class="card" style="width: 18rem;">
                                               <div class="col-md-4 col-sm-10">

                                               </div> 
                                  <div class="card-body">
                                  <img class="rounded" src="{{ run.image.url }}" width="100" height="150"/>
                                </div> 
                                  
                                    <h5><b><u>Navn: </u></b></h5>
                                    <h5 class="card-title">{{run.name}}</h5>
                                    <h5><b><u>Beskrivelse: </u></b></h5>
                                    <p class="card-text">{{run.description}}</p>


                                  </div>
                              </div>
                            </div>
                          </div><!---->
                        </div>
                      </div>

                      {% endfor %}
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section5" class="container-fluid bg-success text-white" style="padding:100px 20px;">
          <h1>4-kant</h1>
          <div class="container mb-5">
            <h2><b><i><u>4-kantet plade</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på 4 kantet plade</h6>
                      <div class="container mb-2">
                        <div class="row justify-content-center mt-2">
                         <div class="col-md-11 col-sm-11 p-1">
                          <div class="row g-5">

                    {% for fir in firkant %}

                                  <div class="col-sm-3">
                                     <div class="card-header">
                                       <div class='card w-30'>
                                         <div class="row g-3">
                                           <div class="col-md-5">
                                             <div class="card" style="width: 18rem;">
                                               <div class="col-md-4 col-sm-10">

                                               </div> 
                                  <div class="card-body">
                                  <img class="rounded" src="{{ fir.image.url }}" width="100" height="150"/>
                                </div> 
                                  
                                    <h5><b><u>Navn: </u></b></h5>
                                    <h5 class="card-title">{{fir.name}}</h5>
                                    <h5><b><u>Beskrivelse: </u></b></h5>
                                    <p class="card-text">{{fir.description}}</p>


                                  </div>
                              </div>
                            </div>
                          </div><!---->
                        </div>
                      </div>

                      {% endfor %}
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section6" class="container-fluid bg-info text-white" style="padding:100px 20px;">
          <h1>6-kant</h1>
          <div class="container mb-5">
            <h2><b><i><u>6-kantet plade</u></i></b></h2>
            <h6>Lidt inspiration til perleplade lavet på 6 kantet plade</h6>
                      <div class="container mb-2">
                        <div class="row justify-content-center mt-2">
                         <div class="col-md-11 col-sm-11 p-1">
                          <div class="row g-5">

                    {% for seks in sekskant %}

                                  <div class="col-sm-3">
                                     <div class="card-header">
                                       <div class='card w-30'>
                                         <div class="row g-3">
                                           <div class="col-md-5">
                                             <div class="card" style="width: 18rem;">
                                               <div class="col-md-4 col-sm-10">

                                               </div> 
                                  <div class="card-body">
                                  <img class="rounded" src="{{ seks.image.url }}" width="100" height="150"/>
                                </div> 
                                  
                                    <h5><b><u>Navn: </u></b></h5>
                                    <h5 class="card-title">{{seks.name}}</h5>
                                    <h5><b><u>Beskrivelse: </u></b></h5>
                                    <p class="card-text">{{seks.description}}</p>


                                  </div>
                              </div>
                            </div>
                          </div><!---->
                        </div>
                      </div>

                      {% endfor %}
                   <!-- </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section7" class="container-fluid bg-warning text-white" style="padding:100px 20px;">
          <h1>Reminder</h1>
          <h3>HUSK: Dette er kun inspiration til hvad der kan laves. Farve og mønster er op til en selv, og det er helt lovligt at variere mønstrene som man vil.</h3>
          <hr>
          <button type="button" class="btn btn-light"><a class="nav-link" href="#section1">Til top</a></button>
        </div>

      </body>
    </div>

    <div id="menu6" class="container tab-pane fade"><br>
    

      <head>
        <title>Perler</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      </head>
      <body> 

      <div class="container mt-3">
        <font color = green><h3><u>Runde perler</u></h3></font>
        <p>Se nogle eksempler på hvad der kan laves af runde perler. De kan også skiftes ud med kvardratiske perler<br>De er delt op i følgende emner:<br>- Bordskåner<br>- Armbånd<br>- Skål<br>- Andet</p>
       <!-- <p><code>.flex-wrap:</code></p>-->
        <div class="d-flex flex-wrap bg-leight">
        {% for bord in bordskåner %}
        
          <div class="p-2 border"><h3><b><i>Bordskåner</i></b></h3>
            <img class="rounded" src="{{ bord.image.url }}" width="100" height="150">


          <p><b><u>Navn: </u></b><br>{{ bord.name}}</p>

          <p><b><u>Beskrivelse: </u></b><br>{{ bord.description}}</p><br>
</div>
       
          {% endfor %}
         
          {% for arm in armbånd %}
          <div class="p-2 border"> <h3><b><i>Armbånd</i></b></h3>
            <img class="rounded" src="{{ arm.image.url }}" width="100" height="150"/>


          <p><b><u>Navn: </u></b><br>{{arm.name}}</p>

          <p><b><u>Beskrivelse: </u></b><br>{{arm.description}}</p>
          </div>
          {% endfor %}
          
          {% for skå in skål %}
          <div class="p-2 border"><h3><b><i>Skål</i></b></h3>
            <img class="rounded" src="{{ skå.image.url }}" width="100" height="150"/>


          <p><b><u>Navn: </u></b><br>{{skå.name}}</p>

          <p><b><u>Beskrivelse: </u></b><br>{{skå.description}}</p>
          </div>
          {% endfor %}
          
          {% for oth in other %}
          <div class="p-2 border"><h3><b><i>Andet</i></b></h3>
            <img class="rounded" src="{{ oth.image.url }}" width="100" height="150"/>


          <p><b><u>Navn: </u></b><br>{{oth.name}}</p>

          <p><b><u>Beskrivelse: </u></b><br>{{oth.description}}</p>
          </div>
          {% endfor %} 
        </div>
        </div>
    </body>
 
  </div>

    <div id="menu7" class="container tab-pane fade"><br>
      <h3>Kontakt</h3>
      <p>Ved spørgsmål eller anden henvendelse, kan mail: lonehilke@gmail.com bruges.</p>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="ny meddelelse...">
  </form>
  <div class="container mb-2">
    <table>
{% for anm in anmeld %}
    <tr>
      <td><p style='margin:0;
      transform: rotate(-5deg);position: relative;'>
      <font color = green><b>Dato: </b> {{anm.created_on}}<br>
      <u> <b>Anmeldelse:</b></u> {{ anm.anmeld }}<br>
        <u><b>Navn: </b></u>  {{anm.navn}}<br>
        <u><b>Kontakt mail/sms: </b></u> {{anm.kontakt}}<br></font>
    </p><br><hr></td>
    </tr>
    {% endfor %}
    </table>
  </div>
    </div>
  </div>
</div>

</body>
</html>